#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  text-align: justify;
  position: relative;
  overflow: hidden;
}
ul:before {
  content: "";
  height: 150px;
  border: 2px solid dodgerblue;
  position: absolute;
  left: 4.4em;
  top: 2.2em;
  margin-top: -2px;
  z-index: -1;
}

li {
  cursor: pointer;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 50%;
  background: dodgerblue;
  margin: 2em 1em;
  display: block;
  color: white;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.4);
  padding: 20px;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-container {
  width: 75%; /* Equivalent to w-3/4 */
  height: 75%;
  padding: 20px; /* Equivalent to p-5 */
  background-color: #dde7f4; /* Equivalent to bg-slate-300 */
  border-radius: 8px; /* Equivalent to rounded-lg */
}
